<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>

<!-- will display questions and answer  -->

<p> You : <%= @question %></p>
<p> Your Coach : <%= @answer %> <br></p>

<%= link_to "Ask a new question", ask_path %>
